html, body {
  margin: 0;
  padding: 0;
}

.course-detail, .lesson-detail, .unit-detail {
  display: flex;
  min-height: calc(100vh - 80px);
  background-color: green;
}

.course-sidebar, .lesson-sidebar {
  width: 300px;
  background-color: bisque;
}

.course-detail__body, .lesson-detail__body, .unit-detail__body {
  flex: 1;
  background-color: cadetblue;
}